<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>

  <div class="panel-body">
    <% @messages.each do |message| %>
      <div style="margin-top: 0.25%">
        <span class="label label-info"><%= message.name %></span>
        <%= message.body %>
        (<%= link_to "edit" , edit_message_path(message) %>)
        <br>
      </div>
    <% end %>
  </div>
</div>

<%= render 'form' %>